@import 'estilos';
@import 'conocenos';

.cites {
    margin: auto;
    width: 100%;
    .titulo {
        padding: 16px;
    }
    .texto {
        strong {
            letter-spacing: 1px;
            text-transform: capitalize;
        }
        a {
            color: $color__azulOscuro;
            font-weight: 700;
            text-decoration: none;
        }
        margin-bottom: 15px;
        padding: 5px;
    }   
    .cites__form {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        hgroup {
            width: 100%;
            max-width: 400px;
            margin-bottom: 20px;
            background-color: $color__azulOscuro;
            color: $color__blanco;
            padding: 10px;
            .texto {
                padding: 0;
            }
        }
        form {
            width: 100%;
            margin: auto;
            padding: 5px;
            .form__item--container {
                margin-bottom: 20px;
                border: none;     
                box-shadow: 0px 3px 5px 10px #0001;
                legend {
                    font-size: 1.1rem;
                    padding: 5px;
                    text-transform: uppercase;
                    background-color: $color__blanco;
                }
                .form__item--FlexContainer {
                    width: 100%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    align-content: center;
                    flex-flow: row wrap;
                    .item__form {
                        width: 100%;
                        padding: 5px;
                        label {
                            display: block;
                            width: 100%;
                            margin: 8px 0;
                            font-size: 1.1rem;
                        }
                        input, textarea {
                            width: 100%;
                            padding: 3px 6px;
                            border: none;
                            border-bottom: 1px solid $color__azulClaro;
                            outline: none;
                            transition: border-bottom .3s;
                            font-size: 1.1rem;
                            &::placeholder {
                                font-size: .55rem;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                            }
                            &:valid {
                                border-bottom: 1px solid $color__azulOscuro;
                            }
                        }
                        textarea {
                            resize: none;
                        }
                        button {
                            display: block;
                            margin: 11px auto;
                            padding: 7px 10px;
                            border: none;
                            background-color: $color__azulOscuro2;
                            color: $color__blanco;
                            width: 60%;
                            border-radius: 5px;
                            font-size: 1.1rem;
                            text-transform: capitalize;
                            font-family: sans-serif;
                        }
                    }
                }
            }
        }
    }
}

.faqs {
    margin: auto;
    padding: 5px;
    width: 100%;
    hgroup {
        .texto {
            margin-top: 20px;
            span {
                font-size: 1.1rem;
                letter-spacing: 2px;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
    .faqs__item {
        margin: 25px auto;
        width: 100%;
        height: auto;
        max-width: 750px;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
        height: 35px;
        transition: height .3s;
        overflow: hidden;
        display: block;
        interpolate-size: allow-keywords;
        input[type="checkbox"] {
            display: none;
        }
        &:has(input[type="checkbox"]:checked) {
            height: auto;
        }
        &:has(input[type="checkbox"]:checked) .faq__item--answer {
            animation: show .3s .3s both;
        }
        .faq__item--cuestion {
            width: 100%;
            margin: auto;
           padding: 10px 0;
            border-radius: 6px 6px 0px 0px;
            user-select: none;
            position: relative;
            .mini-titulo {
                text-align: left;
                padding-left: 0;
                margin-left: 0;
                position: relative;
                i {
                    position: absolute;
                    right: 0;
                    font-size: .5rem;
                    bottom: 15px;
                   cursor: pointer;
                    border-radius: 100%;
                    background-color: #0002;
                    padding: 2px;
                }
            }
        }
        .faq__item--answer {
            background-color: #0001;
            padding: 5px 10px;
            width: 100%;
            margin: auto;
            font-family: sans-serif;
            line-height: 25px;
            font-size: 1.1rem;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}


@media screen and (min-width: 360px) {
    .faqs {
        .faqs__item {
            .faq__item--cuestion {
                .mini-titulo {
                    text-align: left;
                    padding-left: 0;
                    margin-left: 0;
                    position: relative;
                    i {
                        bottom: 5px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .cites {
        .cites__form {
            form {
                .form__item--container {
                    .form__item--FlexContainer {
                        .item__form {
                            width: 50%;
                            padding: 10px 5px;
                            textarea {
                                resize: none;
                                height: 70px;
                            }
                            button {
                                display: block;
                                margin: 11px auto;
                                padding: 7px 10px;
                                border: none;
                                background-color: $color__azulOscuro2;
                                color: $color__blanco;
                                width: 60%;
                                border-radius: 5px;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                font-family: sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
}