@import 'estilos';
@import 'conocenos';

.contact {
    width: 100%;
    height: auto;
    margin: auto;
    .contact__infoContainer {
        width: 100%;
        margin: auto;
        padding: 8px;
        font-family: sans-serif;
        font-size: 1.1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        align-content: center;
        flex-direction: row;
        gap: 15px;
        .contact__infoItem {
            width: 100%;
          &:first-child {
            padding-bottom: 10px;
            border-bottom: 1px solid #0002;
            .texto {
                &:first-child {   
                &::first-letter {
                    font-size: 5rem;
                    font-weight: 700;
                    color: $color__blanco;
                    background-color: rgba(0, 56, 113, 0.986);
                    border-radius: 10px;
                    padding: 5px 3px;
                    margin: 0px 3px 0% 0px;
                    initial-letter: 3;
                }
                }
            }
          }

        }
    }
    .contact__form {
        width: 100%;
        height: auto;
        margin: 5px auto;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-flow: wrap row;
        .contact__form--img {
            display: none;
        }
        .contact__form--form {
            width: 100%;
            margin: auto;
            form {
                width: 100%;
                margin: auto;
                padding: 10px;
                            label {
                                display: block;
                                width: 100%;
                                margin: 8px 0;
                                font-size: 1.1rem;
                            }
                            input, textarea, select {
                                width: 100%;
                                padding: 3px 6px;
                                border: none;
                                border-bottom: 1px solid $color__azulClaro;
                                outline: none;
                                transition: border-bottom .3s;
                                font-size: 1.1rem;
                                &::placeholder {
                                    font-size: .55rem;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                }
                                &:valid {
                                    border-bottom: 1px solid $color__azulOscuro;
                                }
                            }
                            textarea {
                                resize: none;
                            }
                            button {
                                display: block;
                                margin: 11px auto;
                                padding: 7px 10px;
                                border: none;
                                background-color: $color__azulOscuro2;
                                color: $color__blanco;
                                width: 60%;
                                border-radius: 5px;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                font-family: sans-serif;
                            }
                        }
                    }
                }
            }