@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Lalezar&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Sail&display=swap");

// Estilos base

$titulos__fuente: "Lalezar", system-ui;
$parrafos__fuente: "Newsreader", serif;
$color__base: #070f74;
$color__base2: #0024c59f;
$color__base3: #e1e1e1;

html {
  scroll-behavior: smooth;
}

#body {
  background: linear-gradient(-190deg,#001233, #110f3a, #000441c4, #05193d, rgb(15, 15, 59));
  background-size: 300%, 300%;
  animation: color 120s linear infinite alternate both;
margin: auto;
height: 100%;
}

#body::-webkit-scrollbar {
  width: 10px;

}
#body::-webkit-scrollbar-track {
  background: #001233;        /* color of the tracking area */
}
#body::-webkit-scrollbar-thumb {
  background-color: #110f3a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid $color__base3;  /* creates padding around scroll thumb */
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.max-titulo, .titulo, .sub-titulo, .mini-titulo {
  font-family: $titulos__fuente;
  word-wrap: break-word;
  user-select: none;
} 

.texto, a, span, li, input, label, strong, i, b, em {
  font-family: $parrafos__fuente;
  font-size: 1em;
  word-wrap: break-word;
  user-select: none;
}

.max-titulo {
  font-size: 2.5em;
}
.titulo {
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 2px;
  color: $color__base3;
  &::before {
    content: '';
    height: 2px;
    width: 60%;
    margin: auto;
    background-color: #070e7426;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 3px 3px 4px  rgba(150, 150, 150, 0.458);
  }
}
.sub-titulo {
  font-size: 1.5em;
}
.mini-titulo {
  font-size: 1em;
}
video {
  border-style: none;
  width: 100%;
  max-width: 100%;
}
img {
  display: block;
  border-style: none;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

// Estilos para cajas flexibles

.column {
  width: 100%;
  margin: auto;
}

.contenedor {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.container {
  width: 100%;
  margin: auto;
}

.container__flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}



// ESTILOS DE LA PAGINA DE INICIO

#header {
  background: transparent;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 10dvh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: block;
    margin: 0px 2px 0px 2px;
    padding: 3px;
    font-size: 1.2em;
    a {
      text-decoration: none;
      cursor: pointer;
      color: $color__base3;
      transition-duration: .3s;
      transition-property: color;
      transition-behavior:  allow-discrete;
      text-transform: uppercase;
      font-size: 1.1em;
      &:hover {
        color: #ffaa;
      }
    }
  }
  .toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0px 5px;
    z-index: 10000;

    .line {
      position: absolute;
      width: 28px;
      height: 2px;
      background: $color__base3;
      transform: translateY(0);
      transition: .2s all;
      &:active {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 28px;
      height: 2px;
      background: $color__base3;
      transform: translateY(-7px);
      transition: .2s;
    }
    &::after {
      content: '';
      position: absolute;
      width: 28px;
      height: 2px;
      background: $color__base3;
      transform: translateY(7px);
      transition: .2s;
    }
  }
  .activation {
    transition: all .3s;
    width: 28px;
    height: 2px;
    &::before {
      transform: translateY(0px) rotate(45deg);
      background: rgb(192, 0, 0);
      top: 18px;
      right: 0;
    }
    &::after {
      transform: translateY(0px) rotate(-45deg);
      background: rgb(192, 0, 0);
      top: 18px;
      right: 0;
    }
    .line {
      display: none;
    }
  }
  .menuIndex {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.70);
    backdrop-filter: blur(30px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    clip-path: circle(0% at 95.3% 8.5%);
    transition: all .5s;
    .menu__list {
      list-style: none;
      margin: auto;
      width: 100%;
      .menu__item {
        width: 100%;
        display: block;
        height: 3.5rem;
        a {
          display: block;
          margin: auto;
          width: 90%;
          height: 3rem;
          padding: 12px;
          color: $color__base3;
          font-weight: 300;
          text-decoration: none;
          text-transform: uppercase;
          transition: border .05s;
          &::before {
            position: absolute;
            content: attr(data-text);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15vw;
            transition: all .5s;
            color: rgba(20,0, 0, .0);
            pointer-events: none;
            font-weight: 900;
            font-family: sans-serif;
            opacity: 0;
            -webkit-text-stroke: .09em #aaaaaa32;
            z-index: -1;
          }
          &:hover::before {
            opacity: 1;
            transition: .5s ease-out;
          }
          &:hover {
            transition: all .5s;
          }
        }
      }
    }
  }
  .active {
    clip-path: circle(140% at 95.3% 8.5%);
  }
  }

  // Banner
#main {
  width: 100%;
  margin: auto;
  position: relative;
  bottom: 0;
  .bannerIndex {
    height: 90dvh;
    padding: 6px;
    width: 100%;
    margin: auto;
    color: $color__base3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .container__flex {
      margin: auto; 
      .column--50:first-child {
        width: 100%;
        margin: auto;
        order: 2;
      .bannerIndex__img {
          width: 100%;
          display: block;
          max-width: 100%;
          min-width: 100%;
          margin: auto;
          margin-top: 10px;
          position: relative;
          img {
            width: 200px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            margin: auto;
            position: relative;
            z-index: 1;
          }
          .bannerIndex__img--plataform {
            position: absolute;
            width: 250px;
            height: 20px;
            padding: 10px;
            backdrop-filter: blur(10px);
            border-radius: 100%;
            background-color: rgba(139, 139, 139, 0.178);
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
        }
      }
      .column--50:nth-child(2) {
        width: 100%;
        margin: auto;
        .bannerIndex__txt {
          width: 100%;
          display: block;
          text-align: center;
          .max-titulo {
            margin-bottom: 10px;
            // -webkit-text-stroke: .095rem $color__base3;
            font-weight: 500;
            color: $color__base3;
            font-family: $parrafos__fuente;
            text-transform: uppercase;
          }
          .titulo {
            font-weight: 100;
            margin-bottom: 10px;
            text-wrap: pretty;
            font-family: $parrafos__fuente;
            text-align: center;
            font-size: 1.5rem;
            &:before {
              background-color: transparent;
              box-shadow: none;
            }
          }
          a {
            display: block;
            margin: auto; 
            width: 200px;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 1.3em;
            border: 1px solid $color__base3;
            border-radius: 5px;
            padding: 5px;
            text-decoration: none;
            color: $color__base3;
            text-transform: capitalize;
            font-weight: 500;
            transition: all .3s;
            position: relative;
            z-index: 1;
            overflow: hidden;
            &::after {
              content: "";
              background: #4641d719; /* color de fondo hover */
              position: absolute;
              z-index: -1;
              padding: 16px 20px;
              display: block;
              top: 0;
              bottom: 0;
              left: -100%;
              right: 100%;
              -webkit-transition: all 0.35s;
              transition: all 0.35s;
            }
            &:hover::after {
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              -webkit-transition: all 0.35s;
              transition: all 0.35s;
            }
          }
        }
      }
    }
  }
  .presentation {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: auto;
    .container--flex {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      .presentation__img {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        height: auto;
        position: relative;
        margin-bottom: 10px;
        order: 2;
        img {
          width: 100%;
          height: 100%;
          margin: auto;
          position: relative;
          box-shadow: #111234 -5px -5px, #111234be -10px -10px, #11123476 -15px -15px, #1112345c -20px -20px, #11123439 -25px -25px;
        }
      }
      .presentation__txt {
        order: 1;
        padding: 5px;
        width: 100%;
        margin: auto;
        color: $color__base3;
        .texto {
          font-size: 1.2rem;
        }
        .btn-cv {
          display: block;
          width: 100px;
          margin: 10px auto;
          text-align: center;
          background-color: transparent;
          color: $color__base3; 
          border-radius: 10px;
          padding: 10px; 
          text-decoration: none; 
          font-size: 1.5rem;
          font-family: $parrafos__fuente;
          border: 1px solid $color__base3;
          transition: filter .3s;
          position: relative;
          overflow:hidden;
          span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px; 
            background-color: #09354a;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s;
            border-radius: 10px;
          }
          &:hover span {
            transform: scaleX(1);
            transform-origin: left;
            border-radius: 10px;
          }
          &:hover {
            filter: drop-shadow(0 0 10px #12363b) drop-shadow(0 0 30px #02b1c4);
          }
        }
      }
    }
  }

  .service {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    transition: all .5s;
    padding: 5px;
    .carousel {
      margin-top: 15px;
      width: 100%;
      overflow: hidden;
      position: relative;
      .carousel__preview {
        position: absolute;
        z-index: 10;
         display: block;
         width: 50px;
         height: 50px;
         border: none;
         top: calc(40% - 35px);
         cursor: pointer;
         line-height: 30px;
         text-align: center;
         color: $color__base3;
         background: transparent;
         opacity: 80%;
         left: 0;
         border-radius: 50%;
         transition: all .3s;
   
         &:hover {
           opacity: 100%;
         }
         i {
          font-size: 2.3rem;
         }
       }
       .carousel__next {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        border: none;
        top: calc(40% - 35px);
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        color: $color__base3;
        background: transparent;
        opacity: 80%;
        right: 0;
        border-radius: 50%;
        transition: all .3s;
  
        &:hover {
          opacity: 100%;
        }
        i {
          font-size: 2.3rem;
         }
      }
      .carousel__list {
        overflow: hidden;
        margin: auto;
          .skills__item {
            color: $color__base3;
            width: 100%;
            margin: auto;
            height: auto;
            margin-bottom: 40px; 
            padding: 10px;
            .lenguaje {
              font-size: 6rem;
              text-align: center;
              margin: auto;
              display: block;
            }
            .mini-titulo {
              margin-top: 10px;
              font-size: 1.6rem; 
              text-align: center;
              font-weight: 200;
            }
            ul {
              list-style: none;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              align-content: center;
              gap: 10px;
              li {
                background-color: #110f3a7e;
                border-radius: 5px;
                padding: 5px;
                position: relative;
                display: flex;
                align-items: end;
                i {
                  font-size: 1.5rem;
                  margin-right: 3px;
                }
              }
            }
          }
        }
      }
    .carousel__indicadores {
        .glider-dot {
          display: block;
          width: 10px;
          height: 10px;
          background: rgba(1, 107, 212, 0.438);
          opacity: .2;
          border-radius: 50%;
          margin-top: 0px;
          &:hover {
            opacity: .5;
        }
      }
      .glider-dot.active {
        opacity: 1;
      }
      }  
    }
.portfolio {
    width: clamp(280px, 100%, 1250px);
    height: auto;
    margin: auto;
    margin-top: 20px;
    .texto {
      font-size: 1.1rem;
      padding: 5px;
      color: $color__base3;
      text-align: center;
      a {
        text-decoration: none;
        color: #8187d7;
        transition: text-decoration .3s;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .portfolio__evidence {
      width: 100%;
      max-width: 100%;
      margin: auto;
      padding: 10px;
      .portfolio__evidence--item {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: end;
        align-content:space-evenly;
        position: relative;
        padding-bottom: 20px;
        view-timeline: --mostrar block;
        animation-timeline: --mostrar;
        animation-name: scrollMostrar;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-range-start: cover 10%;
        animation-range-end: cover 50%;
        @keyframes scrollMostrar {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }}

        &:after {
          content: '';
          width: 1.23px;
          height: 100%;
          background: $color__base3;
          position: absolute;
          right: 0;
        }
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          background: $color__base3;
          position: absolute;
          right: -4.5px;
          border-radius: 100%;
          bottom: 0;
        }
        .portfolio__img {
          display: none;
        }
        .portfolio__info {
          padding-right: 10px;
          text-align: right;
          .sub-titulo {
            font-weight: 200;
            color: #fff;
          }
          .texto {
            text-shadow: 3px 2px 10px #fff5;
            text-align: right;
          }
          .portfolio__info--lenguajes {
            width: 100%;
            margin: 10px auto;
            text-align: right;
            span {
              background-color: #1233;
              padding: 5px;
              border-radius: 5px;
              color: $color__base3;
              font-size: .9rem;
              i {
                margin-right: 4px;
              }
            }
          }
          a {
            display: block;
            background-color: #1233;
            padding: 7px 5px;
            color: rgb(96, 186, 186);
            width: 125px;
            text-align: right;
            margin-left: auto;
            margin-top: 8px;
            text-decoration: none;
            border-radius: 70px;
            border: 1px solid #1233;
            position: relative;
            transition: background .3s;
            i {
              position: absolute;
              left: 5%;
              transform: rotate(-30deg);
              font-size: .9rem;
            }
            &:hover {
              background: #123;
            }
          }
        }
      }
    }
  }
  .contact {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    form {
      margin: auto;
      width: 100%;
      .form__container {
        margin: auto;
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        label {
          display: block;
          width: 100%;
          padding: 10px 10px auto;
          font-size: $parrafos__fuente;
          color: $color__base3;
          font-weight: 400;
          margin: 7px auto;
        }
        input, textarea {
          background-color: transparent;
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid $color__base3;
          field-sizing: content;
          resize: none;
          margin: auto;
          padding: 8px 0px;
          margin-bottom: 15px;
          color: $color__base3;
          transition: border-bottom .5s;
          &::placeholder {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: .7rem;
          }
        &:focus, &:valid {
          border-bottom: 1px solid #02b1c4;
          transition: all .3s;
        }
        }
        button {
          display: block;
          margin: auto;
          margin-top: 25px;
          width: 57%;
          height: auto;
          padding: 7px 8px;
          background-color: rgb(7, 62, 116, .5);
          color: $color__base3;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          transition: box-shadow .5s;
          &:hover {
            box-shadow: 1px 0px 7px 4px rgba(7,62,116,.3);
            background-color: transparent;
          }
        }
      }
    }
  }
}
svg {
  margin: 0;
  margin-bottom: -5px;
}
footer {
  background-color: #110f3a;
  color: #fff;
  display: block;
  width: 100%;
  margin: auto;
  .container--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    .footer__item {
      text-align: center;
      margin-bottom: 20px;
      padding: 15px 5px;
      width: 80%;
      height: auto;
      margin: auto;
      border-bottom: 1px solid #fff5;
      .mini-titulo {
        font-family: sans-serif;
        font-family: 200;
        margin-bottom: 20px;
        position: relative;
        &::after {
          content: '';
          width: 20%;
          background-color: #fff5;
          height: 2px;
          border-radius: 5px;
          position: absolute;
          bottom: -5px;
          right: 0;
          left: 0;
          margin: auto;
          margin-top: 10px;
        }
      }
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        transition: color .3s;
        &:hover {
          color: #fffa;
        }
      }
      .footer-contact {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  .copy {
    width: 100%;
    height: auto;
    margin: auto;
    margin: 10px auto 0px;
    text-align: center;
    padding-bottom: 10px;
    a {
      color: #fff;
      
    }
  }
}

@media screen and (min-width: 360px) {
  #main {
    .bannerIndex {
      .container__flex {
        .column--50:nth-child(2) {
          .bannerIndex__txt {
            .max-titulo {
              font-size: 2.5rem;
            }
            .titulo {
              font-size: 2.3rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  #main {
    .bannerIndex {
      .container__flex {
        .column--50:first-child {
          .bannerIndex__img {
            img {
              width: 300px;
              height: 150px;
            }
            .bannerIndex__img--plataform {
                width: 350px;
                bottom: 0;
            }
          }
        }

        .column--50:nth-child(2) {
            .bannerIndex__txt {
              .max-titulo {
                text-align: center;
                font-size: 2.4rem;
              }
              .titulo {
                text-align: center;
                font-size: 2.3rem;
              }
              a {
                font-size: 1.7rem;
              }
            }
        }
      }
    }
    .presentation {
      .container--flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        .presentation__img {
          width: 50%;
          order: 1;
          padding: 10px;
          height: 500px;
          position: relative;
          img {
            height:100%; 
            box-shadow: none;
          }
        }
        .presentation__txt {
          width: 50%;
          .titulo {
            font-size: 1.5rem;
          }
        }
      }
    }
    .service {
      .carousel {
        .carousel__list {
          
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #main {
    .bannerIndex {
      .container__flex {
        justify-content: space-between;
        .column--50:first-child {
          width: 50%;
          order: 1;
          .bannerIndex__img {
            img {
              width: 400px;
              height: 250px;
            }
          }
        }
        .column--50:nth-child(2){
          width: 50%;
          order: 2;
          .bannerIndex__txt {
            text-align: left;
            padding-left: 16px;
            .max-titulo {
              font-size: 3.2rem;
            }
            .titulo {
              font-size: 2.5rem;
            }
            a {
              text-align: left;
              margin-left: 0;
            }
          }
        }
      }
    }
    .portfolio {
      .portfolio__container--grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #header {
    position: static;
    justify-content: stretch;
    align-items: stretch;
    height: 10dvh;
    padding: 8px;
    .contenedor {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-between;
      align-content: start;
      .toggle {
        display: none;
      }
      .activation {
        display: none;
      }
      .logo {
        position: static;
        display: block;
      }
      .menuIndex {
        position: static;
        clip-path: circle(140% at 95.3% 8.5%);
        display: block;
        background-color: transparent;
        backdrop-filter: blur(0px);
        width: 800px;
        .menu__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: end;
          align-items: center;
          align-content: center;
          .menu__item {
            display: inline-block;
            width: auto;
            height: auto;
            align-content: center;
            a {
              display: inline-block;
              height: auto;
              width: 150px;
              padding: 5px 10px;
              text-wrap: pretty;
              font-size: 1rem;
              transition: color, border-bottom 1s;
              &::before {
                content: normal;
              }
              &:hover {
                color: #2427e6;
                transition: all .3s;
              }
            }
          }
          .menu__active {
            background-color: #0004414d;
            border-radius: 10px;
        }
        }
      }
    }
  }

    #main {
    .bannerIndex {
      .container__flex {
        display: flex;
        flex-wrap: wrap;
        .column--50:first-child {
          width: 50%;
          order: 1;
          .bannerIndex__img {
            img {
              width: 400px;
              height: 250px;
            }
          }
        }
        .column--50:nth-child(2){
          width: 50%;
          order: 2;
          .bannerIndex__txt {
            .max-titulo {
              font-size: 3.8rem;
            }
            .titulo {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1600px) {
  
}